#fireworkButton {
  box-shadow: 0 0.5em 0.5rem rgba(0, 0, 0, 0.5);
  background-color: #d37c0a;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
